<div id="homePanel">
	<button class="btn btn-default"  data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-edit"> add bill</span></button> 
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="myModalLabel">Add bill</h4>
				</div>
				<div class="modal-body" style="margin: 10px 10px 10px 10px;">
					<form class="form-horizontal" role="form" name="form">
						<div class="form-group">
							<label for="title" class="control-label"> Description</label>
							<input type="text" class="form-control" ng-model="bill.Description" id="description" placeholder="description">
						</div>
						<div class="form-group ">
							<label for="price" class="control-label"> Amount </label>
							<input type="number" class="form-control" style="width:30%" ng-model="bill.Amount" id="price" placeholder="Amount">
						</div>

						<div class="form-group ">
							<label for="surface" class="control-label"> SplitType </label>
							<select class="selectpicker form-control" style="width:30%" ng-model="bill.SplitType">
								<option value="EQUAL">Equal split</option>
								<option value="PART">PART split</option>
							</select>
						</div>
                        <br> 
						<button class="btn btn-default" type="submit" ng-click="addBill()">Post</button>

					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
	<div  id="list-bills" >
		<h2>MY BILLS</h2>
		<ul class="list-group" ng-repeat="bill in allBills.success">
			<li class="list-group-item">
				{{bill.description}} <br>
				{{bill.amount}} &nbsp;&euro;<br>
				{{bill.splitType}} Splits

			</li>
		</ul>
	</div>
</div>



